#!/bin/sh

export AWS_ENDPOINT_URL=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
# export AWS_REGION=

. "$(PATH="$(dirname -- "$(realpath -- "${BASH_SOURCE-$0}")"):$PATH" command -v s3-shell)"
